
/* MOBILE FIRST */
* {
    box-sizing: border-box;
}

#main{

}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: Arial, serif;
}

.alert-info {
    background-color: #c2ffff;
    text-align: center;
    border: 1px solid black;
    padding: 2em;
}

nav{
    flex-direction: row;
    text-align: center;
    text-decoration: blue underline;
}

ul{
    display: flex;
    padding: 0;
    gap: 10px;
}

li{
    background-color: lightgray;
    padding-bottom: 10px;
    padding-top: 10px;
}

.nav-links{
    /*display: flex;*/
    flex-direction: column;
    list-style-type: none;
}
img {
    width: 100%;
    height: auto;
}

h1 {
    display: flex;
    justify-content: center;
}

.sub-section {
    font-style: italic;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#social-media-links a>i {
    color: lightgray;
}

@media screen and (min-width:992px) {
    .hidden-on-desktop {
        display: none;
    }

    body {
        display: block;
    }

    h1 {
        display: inline-block;
        position: absolute;
        top: -10px;
        left: 15px;
    }
    nav {
        align-items: flex-end;
    }
    .nav-links{
        /*display: flex;*/
        flex-direction: row;
        justify-content: flex-end;
        list-style-type: none;
    }
    li {
        background: none;
    }
    body>section{
        display: flex;

    }
    section {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 100px;
    }
    .main {
        float:left;
    }
    section>p {
        margin: 10px;
    }


    /*footer {*/
    /*    position: absolute;*/
    /*}*/


    /*
    #social-media-links {
        text-decoration: lightgrey;
        diplay: flex;
        justify-content: flex-end;
        align-content: flex-end;
    }*/
}