
* MOBILE FIRST */
* {
    box-sizing: border-box;
}

#main{

}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: Arial, serif;
}

.alert-info {
    background-color: #c2ffff;
    text-align: center;
    border: 1px solid black;
    padding: 2em;
}

nav{
    flex-direction: row;
    text-align: center;
    text-decoration: blue underline;
}

ul{
    display: flex;
    padding: 0;
    gap: 10px;
}

li{
    background-color: lightgray;
    padding-bottom: 10px;
    padding-top: 10px;
}

.nav-links{
    /*display: flex;*/
    flex-direction: column;
    list-style-type: none;
}

@media screen and (min-width:992px) {
    .hidden-on-desktop {
        display: none;
    }
    body {
    ;
    }


}